
body {
    margin: 15px;
    padding: 0;
}

/* title */

h1 {
    color: rgb(27, 128, 27);
    font-size: 32px;

    margin-bottom: 16px;
}

/* map */

#map { 
    height: calc( 300px );
    width: calc( 500px );

    border-radius: 5px;
    border: solid green 2px;

    position: relative;
}

/* to plot points on map */

.opcao {
    margin-top: 14px;
}

label {
    font-size: 18px;
}

button {
    color: white;
    font-weight: bold;
    background-color: #50c254;
    border: 1px green solid;
    border-radius: 4px;
    
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    padding: 5px;
    margin-top: 14px;
}

/* current location button */

ion-icon {
    font-size: 22px;
    color: black;
}

.current-location {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 2px;

    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1001;
}