
:root {
    --time-animation: 0.5s;
    --final-height: 0px;
    --backgroundColorMenu: #fdfdfd;
}

* {
    box-sizing: border-box;
}

/* map */

#map { 
    height: calc( 100vh );
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.current-location {
    width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: #fff;
    border: 2px solid #bbb;
    border-radius: 4px;

    position: absolute;
    /* bottom: 60px; */
    top: 82px;
    left: 10px;
    z-index: 1001;
}

.current-location ion-icon {
    font-size: 22px;
    color: black;
}

/* footer */

.footer {
    width: 100%;
    height: 50px;

    background-color: var(--backgroundColorMenu);
    border-top: 0.5px solid rgba(0, 128, 0, 0.5);

    position: fixed;
    top: calc(100% - 50px);
    left: 0;
    z-index: 1002;

    transition: all var(--time-animation) ease-in-out;
}

.footer.open, .footer.open .opcoes {
    box-shadow: 3px 3px 4px  rgba(39, 88, 39, 0.76);
}

.footer * {
    background-color: var(--backgroundColorMenu);
}

.footer.open {
    top: var(--final-height);
}

.footer .topo-footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .plus-btn-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 10px;
    height: 100%;
}

.footer .plus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 40px;
    height: 40px;
}

.footer .plus-icon {
    font-size: 26px;
    color: green;
    margin-right: 10px;
    transition: transform var(--time-animation) ease-in-out;
}

.footer.open .plus-icon {
    transform: rotateZ(-45deg);
}

.footer .text {
    text-align: left;

    color: green;
    font-weight: bold;
    
    font-size: 22px;
    letter-spacing: 104%;
    white-space: nowrap;

    opacity: 1;
    transition: all var(--time-animation) ease-in-out;
}

.footer.open .text {
    width: 0;
    opacity: 0;
}

.footer button {

    text-align: left;
    font-size: 22px;

    color: green;
    background-color: var(--backgroundColorMenu);
    font-weight: bold;

    border: none;
    text-decoration: none;
    cursor: pointer;
    appearance: none;

    margin-right: 10px;

    height: 40px;
    width: 0px;
    opacity: 0;
    transition: all var(--time-animation) ease-in-out;
}

.footer.open button {
    width: 40px;
    opacity: 1;
}

.footer .opcoes {
    height: 0px;
    transition: all var(--time-animation) ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
    border-top: 0.5px solid rgba(0, 128, 0, 0.5);
}

.footer.open .opcoes {
    height: calc( 100vh - var(--final-height) - 50px );
}


/* options to plot points on map */

.opcao {
    padding: 14px 20px;

    height: 40px;
    width: 100%;
}

.footer .opcao:hover,
.footer .opcao:hover label {
    background-color: #f7f7f7;
}

.footer label {
    width: calc( 100% - 80px );
    margin-left: 14px;
    font-size: 20px;
    opacity: 0;
    transition: opacity var(--time-animation) ease-in-out;
}

.footer.open label {
    opacity: 1;
}

/*  */
/*  */
/*  */

.leaflet-bottom.leaflet-right {
    top: 0;
}

@media (min-width: 425px) {

    .footer.open {
        width: 425px;
    }

}
